@use "lib/breakpoints";

.container {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 128px 0;

  article {
    width: min(90%, 1200px);
    display: flex;
    flex-direction: column;
    gap: 205px;
  }

  section {
    display: flex;
    flex-direction: column;
    gap: 16px;

    & > p {
      width: clamp(300px, 100%, 800px);
    }
  }
}

@media (max-width: breakpoints.$sm) {
  .container > article {
    width: 90%;
    gap: 128px;
  }
}
