@use "lib/colors";

.feed {
  display: flex;
  flex-direction: column;
  gap: 40px;
  width: clamp(600px, 50%, 1200px);
  margin-top: 40px;
  margin-bottom: 160px;

  & > button {
    margin: 0 auto;
  }
}

.blogCard {
  display: flex;

  background: colors.$card;
  border-radius: 16px;
  border: 1px solid colors.$borderDark;
  transition: border-color 200ms;
  overflow: hidden;
  color: colors.$fg;

  cursor: pointer;

  &:hover {
    border-color: colors.$border;
  }

  &:hover,
  & *:hover {
    text-decoration: none;
  }

  img {
    display: block;
    height: auto;
    width: 10.8rem;
    object-fit: cover;
    aspect-ratio: 1 / 1;
  }
}

.blogDetails {
  display: flex;
  flex-direction: column;
  padding: 28px;
  gap: 12px;
  min-width: 60%;

  header {
    display: flex;
    flex-direction: column;
    gap: 4px;

    span {
      color: colors.$gray;
      font-size: 1rem;
    }
  }

  section {
    $lineHeight: 1.2rem;
    $numLines: 3;

    display: block;
    text-overflow: ellipsis;
    overflow: hidden;
    font-size: 1rem;
    height: #{$lineHeight * $numLines};

    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    line-clamp: 3;
  }
}
