@use "lib/colors";

.toolbar {
  position: sticky;
  top: 0;
  display: flex;
  align-items: center;
  gap: 20px;
  padding: 16px 0;
  margin-bottom: 20px;
  border-bottom: 1px solid colors.$border;
  background: colors.$bg;
  z-index: 100;
  box-shadow: 0 4px 8px -2px colors.$bg;

  button {
    color: colors.$gray;

    &:global(.active) {
      color: colors.$fg;
    }
  }
}

.separator {
  width: 1px;
  height: 20px;
  background-color: colors.$borderDark;
  border-radius: 8px;
}

.toolbarTooltip {
  padding: 8px 12px;
  background: colors.$card;
  border-radius: 8px;
  z-index: 102;
  color: colors.$gray;
  font-size: 1rem;
}

// dropdown

button.dropdownTrigger {
  width: 150px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.dropdownMenu {
  background: colors.$card;
  z-index: 100;
  padding: 8px 0;
  border-radius: 8px;
}

.dropdownItem {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 8px 16px;
  cursor: pointer;
  color: colors.$gray;

  &:hover {
    background: colors.$borderDark;
    color: colors.$fg;
  }
}
