@use "lib/colors";

.container {
  position: absolute;
  left: 100%;
  pointer-events: none;
  opacity: 0;
  transition: 100ms;

  &.visible {
    opacity: 1;
  }
}

@mixin indicator {
  display: flex;
  gap: 8px;
}

.saving {
  @include indicator;
  color: colors.$gray;
}

.saved {
  @include indicator;
  color: colors.$success;
}
