@use "./sections.module.scss";
@use "lib/colors";

.container {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.card {
  display: flex;
  gap: 24px;

  img {
    border-radius: 8px;
    width: 240px;
    height: auto;
  }

  .content {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    padding-top: 24px;
  }

  .desc {
    $lines: 8;
    $lh: 1.5rem;
    $maxh: 93.75rem;

    .textbox {
      position: relative;
      max-height: $lh * $lines;
      overflow: hidden;
      transition: max-height 300ms ease-in-out;

      p.truncated {
        display: -webkit-box;
        -webkit-line-clamp: $lines;
        line-clamp: $lines;
        -webkit-box-orient: vertical;
        overflow: hidden;
        position: absolute;
        top: 0;
        left: 0;
        opacity: 1;
        background: colors.$card;
        z-index: 1;
      }

      p.text {
        position: relative;
        opacity: 0;
        transition: opacity 200ms linear;
      }

      &.expanded {
        max-height: $maxh;

        p.truncated {
          opacity: 0;
          transition: opacity 0ms;
        }

        p.text {
          opacity: 1;
          transition: opacity 0ms;
        }
      }
    }

    footer {
      display: flex;
      justify-content: flex-end;
    }

    button {
      color: colors.$gray;
    }
  }
}
