@use "lib/colors";
@use "lib/breakpoints";
@use "lib/keyframes";

.container {
  display: flex;
  flex-direction: column;
  align-items: center;

  .content {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: colors.$card;
    border-radius: 16px;
    width: clamp(750px, 83%, 1200px);
    box-shadow: 0 4px 8px 2px rgba(255, 255, 255, 0.1);
    padding: 100px 0;

    article {
      width: clamp(600px, 60%, 800px);
      display: flex;
      flex-direction: column;
      gap: 128px;
    }
  }

  section {
    display: flex;
    flex-direction: column;
    gap: 42px;
  }
}

.eventsList {
  display: flex;
  flex-direction: column;
  gap: 16px;

  button {
    width: fit-content;
    color: colors.$link;
  }

  .placeholder {
    height: 6rem;
    border-radius: 8px;
    background: darkslategray;
    animation: glow 2s infinite;
  }
}

.emptyAnnouncer {
  display: flex;
  gap: 24px;
  align-items: center;
}

.aboutContent {
  display: grid;
  grid-template-columns: 3fr 2fr;
  gap: 88px;
  place-items: center;

  img {
    width: 100%;
    height: auto;
    aspect-ratio: 1 / 1;
  }
}

.community {
  gap: 12px !important;
}

@media (max-width: breakpoints.$md) {
  .container > article {
    width: 90%;
  }

  .scheduleTable > .scheduleBlock {
    grid-template-columns: 3fr 2fr;
    row-gap: 4px;

    span {
      grid-row: 2 / 3;
      color: colors.$gray;
    }

    div {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      text-align: right;
      grid-row: 1 / 3;
    }
  }

  .aboutContent {
    grid-template-columns: 1fr;

    & > img {
      display: none;
    }
  }
}
