@use "lib/colors";
@use "lib/breakpoints";

.container {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 128px 0;

  article {
    width: clamp(600px, 50%, 800px);
    display: flex;
    flex-direction: column;
    gap: 128px;
  }

  section {
    display: flex;
    flex-direction: column;
    gap: 42px;
  }
}

.practice > footer {
  display: flex;
  flex-direction: column;
  gap: 16px;

  p {
    color: colors.$grayText;
  }
}

.scheduleTable {
  display: flex;
  flex-direction: column;
  gap: 24px;

  .scheduleBlock {
    display: grid;
    grid-template-columns: 1fr 1.25fr 1.25fr;
  }
}

.eventsList {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.aboutContent {
  display: grid;
  grid-template-columns: 3fr 2fr;
  gap: 88px;
  place-items: center;

  img {
    width: 100%;
    height: auto;
    aspect-ratio: 1 / 1;
  }
}

.community {
  gap: 12px !important;
}

@media (max-width: breakpoints.$md) {
  .container > article {
    width: 90%;
  }

  .scheduleTable > .scheduleBlock {
    grid-template-columns: 3fr 2fr;
    row-gap: 4px;

    span {
      grid-row: 2 / 3;
      color: colors.$grayText;
    }

    div {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      text-align: right;
      grid-row: 1 / 3;
    }
  }

  .aboutContent {
    grid-template-columns: 1fr;

    & > img {
      display: none;
    }
  }
}
