@use "lib/breakpoints";

.button {
  display: inline-block;
  padding: 0.75rem 1.5rem;
  display: flex;
  gap: 0.625rem;
  background: black;
  color: white;
  border: none;
  font-family: inherit;
  font-size: inherit;
  border-radius: 8px;
  width: fit-content;
  cursor: pointer;

  &:hover {
    text-decoration: none;
  }
}

@media (max-width: breakpoints.$sm) {
  .button {
    padding: 0.75rem 1rem;

    svg {
      width: 1.25rem;
      height: 1.25rem;
    }
  }
}
