@use "lib/colors";
@use "lib/breakpoints";

.gallery {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  row-gap: 48px;
  column-gap: 28px;
}

.card {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-top: 16px;

  iframe {
    width: 100%;
    border: 2px colors.$cardBorder solid;
    border-radius: 8px;
    aspect-ratio: 16 / 9;
    background: colors.$iframePlaceholder colors.$gradientOverlay;
  }

  div {
    display: flex;
    flex-direction: column;
    gap: 4px;
  }

  h6 {
    font-weight: 500;
  }

  p {
    font-weight: 200;
    color: colors.$grayText;
  }
}

@media (max-width: breakpoints.$lg) {
  .gallery {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: breakpoints.$md) {
  .gallery {
    grid-template-columns: 1fr;
    row-gap: 24px;
  }
}
