@use "lib/colors";

.gallery {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  row-gap: 48px;
  column-gap: 28px;
}

.card {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-top: 16px;

  iframe {
    width: 100%;
    border: 2px colors.$cardBorder solid;
    border-radius: 8px;
    aspect-ratio: 16 / 9;
  }

  div {
    display: flex;
    flex-direction: column;
    gap: 4px;
  }

  p {
    font-weight: 500;
    font-size: 1.5rem;
  }

  span {
    font-size: 1.25rem;
    font-weight: 200;
    color: colors.$grayText;
  }
}
