@use "lib/colors";

.navbar {
  width: 100%;
  display: flex;
  gap: 2rem;
  padding: 14px 0;
  justify-content: center;
  background: colors.$navbar;

  p {
    color: colors.$navbarLinkActive;
    cursor: default;
  }

  a {
    color: colors.$navbarLink;
    transition: 200ms;

    &:hover {
      filter: brightness(1.3);
      text-decoration: none;
    }
  }
}
