@use "lib/colors";
@use "lib/keyframes";
@use "lib/breakpoints";

.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.carousel:global(.swiper) {
  display: flex;
  flex-direction: column;
  gap: 12px;
  width: 100%;
  padding: 50px 0;

  :global(.swiper-slide) {
    width: auto;
  }

  :global(.swiper-slide-active) .caption {
    opacity: 1;
    transition-delay: 250ms;
  }

  .carouselItem {
    width: 400px;
    position: relative;

    img {
      width: 100%;
      height: auto;
      user-select: none;
      -webkit-user-drag: none;
      aspect-ratio: 16 / 9;
      object-fit: cover;
      border-radius: 8px;
      margin: 16px 0;
    }

    .ambiance {
      position: absolute;
      top: 0;
      left: 0;
      transform: scale(0.98);
      filter: blur(12px);
      z-index: -1;
    }

    &::after {
      content: "_";
      visibility: hidden;
    }

    p {
      user-select: none;
      position: absolute;
      top: 87%;
      left: 50%;
      width: 90vw;
      text-align: center;
      transform: translateX(-50%);
      padding: 0.5rem 1rem;
      color: colors.$gray;
      opacity: 0;
      transition: 200ms;
    }
  }
}

@media (max-width: breakpoints.$md) {
  .carousel:global(.swiper) {
    .carouselItem {
      width: 300px;

      .ambiance {
        filter: blur(10px);
      }
    }
  }
}
