@use "lib/colors";

.navbar {
  width: 100%;
  display: flex;
  gap: 2rem;
  justify-content: center;
  margin: 32px 0 16px 0;
  position: relative;

  a {
    position: relative;
    color: colors.$gray;
    transition: 200ms;
    text-align: center;

    &:hover {
      text-decoration: none;
      color: colors.$grayLight;
    }

    .indicator {
      position: absolute;
      top: 100%;
      left: calc(50% - 0.5rem);
      width: 100%;
      height: 1px;
      margin-top: 4px;
      transform: translateX(-50%);

      &::after {
        content: "";
        display: block;
        width: 100%;
        padding: 0 0.5rem;
        height: 1px;
        background: colors.$goldLight;
        transform: scaleX(0);
        transition: transform 200ms;
        transform-origin: center;
      }
    }
  }

  a.active {
    color: colors.$goldLight;

    .indicator::after {
      transform: scaleX(1);
    }
  }
}
